* {
    margin: 0;
    padding: 0;
    border-style: solid;
    border-width: 2px;
    border-color: rgb(114, 114, 114);
}

.site {
    display: grid;
    background-color: rgb(184, 184, 184);
    grid-template-columns: 1fr 9fr;
    grid-template-rows: 1fr 
                        13fr 
                        1fr;
    grid-template-areas:
        ". ."
        ". ."
        ". footer";
}

.footer {
    grid-area: footer;
    background-color: #d4d4d5;
    text-align: center;
}
