body {
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: 
        "docnav document docsel";
    width: 100vw;
    height: 100vh;
    margin: 0%;
    position: fixed;
}

.docnav {
    grid-area: nav;
}

.document {
    grid-area: document;
}

.document iframe {
    overflow: hidden;
    height: 100%;
    width: 100%;
}

.docsel {
    grid-area: docsel;
}